
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height:100vh;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    padding: 10vh 0;
}


#profile-img {
    text-align: center;
}

img {
    width:30%;
    border-radius: 50%;

}


h1 {
    text-align: center;
    color: whitesmoke;
    padding: 2vh;
    letter-spacing: 2pt;
}

button {
    width: 50vw;
    margin: 1vh auto;
    padding: 2vh;
    text-align: center;
    background-color: transparent;
    border: 3px solid whitesmoke;
    font-size: 14pt;
    color: whitesmoke;
    transition: ease 0.3s;
}

button:hover {
    background-color: whitesmoke;
    color: #30c7ec;
}

#links {
    width: 50%;
    margin: 0 auto;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    img {
        width:20%;
    }
}
